In [1]:
import numpy as np
import pandas as pd
import os, json

In [2]:
basedir = "epldat10seasons/"
cleanfolder = "cleaned_data/"

In [3]:
files = os.listdir(basedir)

In [4]:
# listof(sets)
teams = []
for filename in files:
    if filename.endswith("results-pts.csv"):
        season = filename[:7]
        file = pd.read_csv(basedir+filename)
        # count teams for OGTEAMS
        teams.append(set(file['Club']))
        # to csv
        file.set_index("Club", inplace=True)
        file.drop([col for col in file.columns if not col.endswith("Points")], axis=1, inplace=True)
        # NxJ
        file.transpose().to_csv(cleanfolder+f"{season}_pts.csv", index=False)

In [5]:
ogteams = teams[0]
for team in teams:
    ogteams = ogteams.intersection(team)
ogteams
# WOW...

{'Arsenal',
 'Chelsea',
 'Everton',
 'Liverpool',
 'Man City',
 'Man Utd',
 'Tottenham'}

In [6]:
# Combine them (from the cleaned data)

In [7]:
cleaned_files = os.listdir(cleanfolder)

In [8]:
def yield_merge(cleaned_files):
    for filename in cleaned_files:
        if not filename.startswith('epltenyears'):
            file = pd.read_csv(cleanfolder+filename)
            yield file[[col for col in file.columns if col in ogteams]]

In [9]:
ogdatagenerator = yield_merge(cleaned_files)

In [10]:
totdf = pd.concat(ogdatagenerator)

In [11]:
totdf

    Arsenal  Chelsea  Everton  Liverpool  Man City  Man Utd  Tottenham
0         3        3        1          3         3        0          3
1         1        3        1          0         3        1          3
2         1        3        0          3         0        1          0
3         1        3        3          0         1        3          1
4         3        1        0          0         1        0          0
..      ...      ...      ...        ...       ...      ...        ...
33        3        3        1          0         1        1          3
34        3        3        0          3         3        0          0
35        3        3        0          1         3        0          3
36        3        3        3          3         3        1          3
37        3        3        0          3         3        3          3

[380 rows x 7 columns]

In [12]:
totdf.to_csv(cleanfolder+"epltenyears_pts.csv", index=False)